@charset "UTF-8";
:root{
            
    --cor0: #ebe5c5;
    --cor1: #83e1ad;
    --cor2: #3ddc84;
    --cor3: #2fa866;
    --cor4: #1a5c37;
    --cor5: #063d1e;
}
body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #2fa866;
}